In [1]:
a = 2
b = a * a
print(b)

4

In [2]:
name = "Su Su"
print(name)

Su Su

In [6]:
counter = 100
miles = 1000
name = "Kate"
count = counter * 2
travel = miles / 2.5
print("Counter is", count)
print("Travel is", travel)
print("Name is", name)

Counter is 200
Travel is 400.0
Name is Kate

In [7]:
z = [1, 2, 3]
print(z)
z.extend([4, 5, 6])
print(z)
z.append(0)
print(z)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 0]

In [8]:
x = [4, 2, 3, 1, 5]
print(sorted(x))
print(x)
y = sorted(x)
print(y)
print(x)
x.sort()

[1, 2, 3, 4, 5]
[4, 2, 3, 1, 5]
[1, 2, 3, 4, 5]
[4, 2, 3, 1, 5]

In [9]:
integer_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(integer_list[2])
23 in integer_list

3

False